﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* override styles*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #182ee6;
    border-top-color: rgb(24, 46, 230);
    border-right-color: rgb(24, 46, 230);
    border-bottom-color: rgb(24, 46, 230);
    border-left-color: rgb(24, 46, 230);
}

.navbar-inverse {
    background-color: #0a0a5d;
    border-color: #080808;
    border-top-color: rgb(8, 8, 8);
    border-right-color: rgb(8, 8, 8);
    border-bottom-color: rgb(8, 8, 8);
    border-left-color: rgb(8, 8, 8);
}

    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #2da084;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #2da084;
        border-top-color: rgb(22, 206, 184);
        border-right-color: rgb(22, 206, 184);
        border-bottom-color: rgb(22, 206, 184);
        border-left-color: rgb(22, 206, 184);
    }