﻿<br />
<br />
<br />

<div class="col-md-6 col-md-offset-3">
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-social-dribbble font-green hide"></i>
                <span class="caption-subject font-dark bold uppercase ">Upload one or more files</span>
            </div>
            <form method="post" enctype="multipart/form-data" asp-controller="uploadFile" asp-action="upload">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="file" id="files" name="files" multiple accept=".txt" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="color:red;" id="error">
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <div class="col-md-6 ">
                        <input type="submit" value="Upload" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<environment include="Development">
    <script>
        console.log("welcome")
        document.getElementById('files').addEventListener('change', handleFileSelect, false);
        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object
            console.log("welcome22", files)
            for (i = 0; i < files.length; i++) {
                if (files[i].size > 2560) {
                    var error = document.getElementById('error');
                    error.innerHTML = 'file size must be less than 20 KB';
                }

            }
        }
    </script>
</environment>