@model userLogin

<br />
<br />
<br />

<div class="col-md-6 col-md-offset-3">
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-social-dribbble font-green hide"></i>
                <span class="caption-subject font-dark bold uppercase " style="font-size: 30px; margin-left: 40%;">Sign In</span>
            </div>

            <form asp-action="Login" method="post" role="form">

                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>